@font-face {
  font-family: 'ComicSansBold';
  src: url('../Fonts/comicsans-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'ComicSans';
  src: url('../Fonts/comicsans.ttf') format('truetype');
}

.toolbar {
  font-family: 'ComicSans-Bold', sans-serif;
}

.toolbar a {
  font-family: 'ComicSans', sans-serif;
}
